*.tar.gz

.vagrant
.vscode

/background.tiff*
/share/certs/cert.pem
/share/certs/key.pem
/share/certs/authenticode.*
/share/certs/id_codesign*
*.exe
src/uraniumxd
src/uraniumx-cli
src/uraniumx-tx
src/bench/bench_uraniumx
src/test/test_uraniumx
src/test/test_uraniumx_fuzzy
src/qt/test/test_uraniumx-qt
src/qt/uraniumx-qt
/UraniumX-Qt.app
/dist/uraniumx*
/dist/UraniumX*
/UraniumX-*
*.exe
*uraniumx*.key
*uraniumx*.pem

# autoreconf
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/missing
build-aux/compile
build-aux/test-driver
config.log
config.status
configure
libtool
src/config/bitcoin-config.h
src/config/bitcoin-config.h.in
src/config/stamp-h1
share/setup.nsi
share/qt/Info.plist

src/univalue/gen

src/qt/*.moc
src/qt/moc_*.cpp
src/qt/forms/ui_*.h

src/qt/test/moc*.cpp

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
*.patch
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Compilation and Qt preprocessor part
*.qm
Makefile
bitcoin-qt
uraniumx-qt
UraniumX-Qt.app
/dist/uraniumx-win32
/dist/uraniumx-x64

# Unit-tests
Makefile.test
bitcoin-qt_test

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_bitcoin.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
test/config.ini
test/cache/*

!src/leveldb*/Makefile

/doc/doxygen/

libbitcoinconsensus.pc
liburaniumxconsensus.pc
contrib/devtools/split-debug.sh

/share/keys/
